.toolbarCustomActionsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--mantine-color-blue-light-color);
  width: 100%;
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.actions {
  gap: 4px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
}

.icon {
  background-color: var(--mantine-color-blue-light);
  color: var(--mantine-color-blue-light-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}
